
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */