body {
	margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
	margin-bottom: auto;
	height: 100%;
}
.content.center {
	max-width: 1050px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header {
	height: auto;
}
.subcontainer1 {
	display: flex;
}
.logo {
	height: 105px;
	padding-left:24px;
	flex: 1;
	justify-content: flex-start;
    align-items: center;
    display: flex;
}
.logo h2 {
	margin:0;
}
.size {
	height: 105px;
	flex: 1;
	text-align:right;
	justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right:1px;
}
#line2 {
	margin:0;
}
#line3 {
	margin:0;
}
.main {
	display: flex;
	padding-left:22px;
}
*.nav ul {
	margin: 0;
	height: fit-content;
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 14px;
	padding-bottom: 9px;
}
*.nav ul li {
	display: inline;
	padding-left: 19px;
	padding-right: 19px;
}
.subcontainer3 {
	display: flex;
	padding-left:20px;
	padding-top:25px;
	padding-bottom:42px;
	padding-right:21px;
}
.text {
	flex: 1;
	padding-top:10px;
	
}
.lower{
	display: flex;
}
.left {
	flex: 1;
}
.right {
	flex: 1;
	padding-left:5px;
}
#mapa{
	padding-top:10px;
}
.sidebar {
	width: 250px;
}
.footer {
	height: 100%;
	font-size:14px;
	text-align:left;
	padding-top:10px;
	padding-bottom:14px;
	background: linear-gradient(to bottom, gainsboro 0%,white 100%);

}
.stagetext {
	flex: 1;
	position: relative;
}
.stagetext button {
	padding: 14px 23px 14px 23px;

   	position: absolute;
    bottom: 0;
    right: 0;
}
.form button{
	width:120px;
	background-color:#61ae24;
	color:white;
	font-size:16px;
	padding-top:3px;
	padding-bottom:2px;
	text-align:center;
	margin-bottom:6px;
}








