body {
	margin: 0;
}
a {
	text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
	margin-bottom: auto;
	height: 100%;
}
.content.center {
	max-width: 1050px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header {
	background: linear-gradient(to top, #c3c5c7 0%, white 100%);
}
.header {
	height: auto;
}
.subcontainer1 {
	display: flex;
}
.logo {
	
	height: 105px;
	padding-left:24px;
	font-size:12px;
	flex: 1;
	color:#515156;

	justify-content: flex-start;
    align-items: center;
    display: flex;
}
.logo h2 {
	font-size:38px;
	color:#d70060;
	margin:0;
	font-family: scala;
}


.size {
	
	height: 105px;
	font-size:10px;
	flex: 1;
	text-align:right;
	color:#dd0b6b;
	justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right:1px;
}
#line2 {
	margin:0;
	font-size:16px;

	color:black;
	
}
#line3 {
	font-size:12px;
	color:black;
	margin:0;

}
.main {
	background-color: magenta;
	display: flex;
}
.subcontainer2 {

}
.nav {
	background-color: orange;
	
	
}
*.nav ul {
	list-style: none;
	margin: 0;
	width: fit-content;
	height: fit-content;
	border-radius: 15px;
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 14px;
	padding-bottom: 9px;
	background-color: dodgerblue;

}
*.nav ul li {
	display: inline;
	font-size: 14px;
	width: 1051px;
	height: 39px;
	padding-left: 19px;
	padding-right: 19px;
}
*.nav ul a {
	color: white;
}
.subcontainer3 {
	display: flex;
}
.text {
	flex: 1;
}
.upper {
	background-color: violet;

}
.lower{
	display: flex;
}
.left {
	background-color: silver;
	flex: 1;

}
.right {
	background-color: gold;
	flex: 1;

}
.sidebar {
	background-color: red;
	width: 200px;
}
.footer {
	background-color: chocolate;
	height: 100%;
}