a {
	text-decoration: none;
}
.header {
	background: linear-gradient(to top, #c3c5c7 0%, white 100%);
}
.logo {
	font-size:12px;
	color:#515156;
}
.logo h2 {
	font-size:38px;
	color:#d70060;
	font-family: scala;
}
.size {
	font-size:10px;
	color:#dd0b6b;
}
#line2 {
	font-size:16px;
	color:black;
}
#line3 {
	font-size:12px;
	color:black;
}
.main {
	background-color: magenta;
}
.nav {
	background-color: orange;
}
*.nav ul {
	list-style: none;
	border-radius: 15px;
	background-color: dodgerblue;
}
*.nav ul li {
	font-size: 14px;
}
*.nav ul a {
	color: white;
}
.upper {
	background-color: violet;
}
.lower{
	display: flex;
}
.left {
	background-color: silver;
}
.right {
	background-color: gold;
}
.sidebar {
	background-color: red;
}
.footer {
	background-color: chocolate;
}