a {
	text-decoration: none;
}
.header {
	background: linear-gradient(to top, #c3c5c7 0%, white 100%);
}
.logo {
	font-size: 12px;
	color: #515156;
}
.logo h2 {
	font-size: 38px;
	color: #d70060;
	font-family: scala;
}
.size {
	font-size: 10px;
	color: #dd0b6b;
	text-align: right;
}
#line2 {
	font-size: 16px;
	color: black;
}
#line3 {
	font-size: 12px;
	color: black;
}
.nav ul {
	list-style: none;
	background-color: #00a1cb;
}
.nav ul li {
	font-size: 14px;
}
.nav ul a {
	color: white;
}
.upper h1 {
	color: #4eaacb;
	font-size: 17px;
}
.left h2 {
	color: #ed5176;
	font-size: 14px;
}
.left h1 {
	color: #4eaacb;
	font-size: 17px;
}
hr {
	background: #c3c5c7;
}
.right h1 {
	color: #4eaacb;
	font-size: 17px;
	
}
.right, .left, .upper {
	font-family: scala;
	color:#525356;
}
.sidebar {
	font-size: 17px;
	font-family: scala;
}

#slider {
	border: double;
	border-color: lightgray;
	border-width: 4px;
}
.textline1 {
	font-size: 21px;
	font-family: scala;
	color: #2c323b;
}
.textline2 {
	font-size: 38px;
	font-family: scala;
	font-weight: 800;
	color: #3a393b;
}
.textline3 {
	font-size: 38px;
	font-family: scala;
	color: #3a393b;
}
.textline4 {
	font-size: 38px;
	font-family: scala;
	color: #3a393b;
}
.stagetext button {
	font-size: 14px;
	font-family: scala;
	background: #CC0066;
	color: white;	
}
.sidebar p {
	color: white;
	font-size: 16px;
}
.appointment {
	background: #CC0066;
}
.request {
	background: #3f8605;
}
.like {
	background: #61ae24;
}
.visit {
	background: #00a1cb;
}
.join {
	background: #67cddc;
}
.form {
	background-color: #d8d9da;
}
.form button {
	color: white;
	font-size: 16px;
	background-color: #61ae24;
	
}
.footer {
	font-size: 14px;
	color: #4f4869;
	text-align: left;
	background: linear-gradient(to bottom, gainsboro 0%,white 100%);
}