body {
	background-color: blue;
	width: 100%;
	height: auto;
	margin: 0;
	display: flex;
	flex-flow: column;
}

.container {
	background: linear-gradient(to top, #c3c5c7 0%, white 100%);
	height: auto;
	display: flex;
}

.logo {
	background-color: green;
	height: 100px;
	width: 50%;
}

.size {
	background-color: yellow;
	height: 150px;
	width: 50%;
}

.content {
	background-color: black;
	height: 70vh;
	width: 100vw;
}