body {
	background-color: blue;
	
	
	margin: 0;
	
}
.container {
	background: linear-gradient(to top, #c3c5c7 0%, white 100%);
	height: auto;
	
}
.subcontainer1 {
	display: flex;
}
.logo {
	background-color: green;
	height: 105px;
	
	flex: 1;
	
}
.size {
	background-color: yellow;
	height: 105px;
	
	flex: 1;

}
.content {
	background-color: magenta;
}
.subcontainer2 {

}
.nav {
	background-color: orange;
	
	
}
.subcontainer3 {
	display: flex;
}
#slider{

}